# requirements.txt
snowflake-connector-python
snowflake-snowpark-python
streamlit==1.31.1
requests
import pandas as pd

def fetch_pandas_sqlalchemy(sql):
    rows = 0
    for chunk in pd.read_sql_query(sql, engine, chunksize=50000):
        rows += chunk.shape[0]
    print(rows)
